#ignore all files in sandbox folder but keep the gitkeep file (to make the folder visible to git)
sandbox/*
!sandbox/.gitkeep
#ignore venv folder (virtual environment)
.venv/ 
#ignore mtcnn folder (MTCNN library)
mtcnn/
#ignore vscode files
.vscode/
#ignore all pycache files in the project
**/__pycache__/ 
#ignore all files in faces folder but keep the gitkeep file (to make the folder visible to git)
faces/
download/

#ignore all files in embeddings_models/models folder
backend/embeddings_models/models/*
!backend/embeddings_models/models/.gitkeep
#ignore metadata.db file
metadata.db
#ignore face_vault.map.json file
face_vault.map.json
#ignore face_vault.index file
face_vector_store.index
face_vault.index