#ignore all files in sandbox folder but keep the gitkeep file (to make the folder visible to git)
sandbox/*
!sandbox/.gitkeep
#ignore venv folder (virtual environment)
.venv/ 
#ignore mtcnn folder (MTCNN library)
mtcnn/
#ignore vscode files
.vscode/
#ignore all pycache files in the project
**/__pycache__/ 
#ignore all runtime data files (db, index, faces, downloads)
backend/data/*
!backend/data/**/.gitkeep

#ignore ML model weights
backend/src/app/ml/models/*
!backend/src/app/ml/models/.gitkeep

#ignore sandbox index files
sandbox/face_vector_store.index
#ignore all files in node_modules folder
node_modules/

